<!--
  This file defines the main sidebar that the user can toggle in and out of
  view. This is included in every file.

  Most of this was taken directly from the Lanyon example site.

  Here we simply include a link to the homepage, a link to the blog posts,
  and some copyright information.
-->

<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">
    <!--<a class="sidebar-nav-item" href="/posts">Posts</a>
    
    <a class="sidebar-nav-item" href="/formations">Formations</a>-->
    <center>
        <a class="sidebar-nav-item" href="https://github.com/benathmane"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="Github logo" style="width:50px;height:50;"/></a>
    
        <a class="sidebar-nav-item" href="https://gitlab.com/benathmane"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/GitLab_Logo.svg/520px-GitLab_Logo.svg.png" alt="Gitlab logo" style="width:50px;height:50;"/></a>

        <a class="sidebar-nav-item" href="https://www.linkedin.com/in/ayoub-benathmane-7148b691"><img src="http://www.freeiconspng.com/uploads/linkedin-icon-1.png" alt="LinkedIn logo" style="width:50px;height:50;"/></a>
    
        <a class="sidebar-nav-item" href="https://twitter.com/il_principin0"><img src="http://www.freeiconspng.com/uploads/twitter-icon-download-18.png" alt="Twitter logo" style="width:50px;height:50;"/></a>
    
        <a class="sidebar-nav-item" href="https://www.facebook.com/ayoub.benathmane"><img src="http://download.seaicons.com/icons/sicons/basic-round-social/512/facebook-icon.png" alt="Facebook logo" style="width:50px;height:50;"/></a>
    
        <a class="sidebar-nav-item" href="https://www.youtube.com/channel/UCJz9itGptp6RsaaOblrdMKQ"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Youtube.png/600px-Youtube.png" alt="Youtube logo" style="width:50px;height:50;"/></a>
    </center>
  </nav>

  <!--<div class="sidebar-item">
    <p>
      &copy; 2014 Spencer Lyon. Powered by <a href="https://gohugo.io">Hugo</a>. Design adapted from <a href="http://lanyon.getpoole.com">Lanyon</a>.
    </p>
  </div>-->
</div>
