<!-- This file is the homepage of the website. -->

<!DOCTYPE html>
<html>
<head>
    <!--
      This section just sets up some metadata for the website.

      It probably does not need to be changed.
    -->
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link rel="shortcut icon" href="https://gitlab.com/benathmane/cv/raw/e3e23d27d1c108be4fa12fb8fa5e9b06eedd68fd/static/ue.png" type="image/x-icon"/>

    {{ partial "head_includes.html" . }}
</head>
  <body class="theme-base-08" lang="en">

  {{ partial "sidebar.html" . }}

  <!-- See /layouts/indexes/category.html for explanation of this section -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <B>BENATHMANE Ayoub</B>
          </h3>
        </div>
      </div>

      <!--
        This section contains the content of our home page.

        I have broken it into three main sections:
          (1) about the blog
          (2) about me
          (3) Recent posts

        The first two sections are pretty self explanatory.

        In the recent posts section we ask Hugo to use the template found in
        /layouts/posts/summary.html to show a summary of the 10 most recent
        posts we have made.
      -->
      <div class="container content">
          
        <section class="page-header">
          <h2 class="project-tagline"></h2>
        </section>
        
    <section class="main-content">
      <h1>
<a id="bienvenue-sur-la-page-daccueil-dayoub" class="anchor" href="#bienvenue-sur-la-page-daccueil-dayoub" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Bienvenue sur la page d'accueil d'<a href="https://fr.linkedin.com/in/ayoub-benathmane-7148b691">Ayoub</a>!</h1>

<h3>
<a id="ingénieur-Étude-et-développement" class="anchor" href="#ing%C3%A9nieur-%C3%89tude-et-d%C3%A9veloppement" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Ingénieur Étude et Développement / DevOps</h3>

<h3>
<a id="adresse---centre-international-de-valbonne-190-rue-frédéric-mistral-06560-valbonne-france" class="anchor" href="#adresse---centre-international-de-valbonne-190-rue-fr%C3%A9d%C3%A9ric-mistral-06560-valbonne-france" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><strong>Adresse</strong>  : Centre International de Valbonne, 190 rue Frédéric Mistral, 06560, Valbonne, France.</h3>

<h3>
<a id="mobile----33-0678596290" class="anchor" href="#mobile----33-0678596290" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><strong>Mobile</strong>   : (+33) 0678596290</h3>

<h3>
<a id="courriel--benathmaneabgmailcom" class="anchor" href="#courriel--benathmaneabgmailcom" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><strong>Courriel</strong> : <a href="mailto:benathmane.ab@gmail.com">benathmane.ab@gmail.com</a>
</h3>

<p> </p>

<h2>
<a id="formations" class="anchor" href="#formations" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><B>FORMATIONS</B></h2>

<ul>
<li>
<strong>[2015 - 2016]</strong> : Master 2, Mobiquité, Base de Données et Intégration de Systèmes (MBDS)<br>
<em>Université Nice Sophia Antipolis, Nice, France.</em><br><br>
</li>
<li>
<strong>[2015]</strong> : Master 2, Informatique : Fondements et Ingénierie, parcours Sciences, Technologies, Ressources et Applications du Web<br>
<em>Université Nice Sophia Antipolis, Nice, France.</em><br><br>
</li>
<li>
<strong>[2014]</strong> : Master 1, Informatique : Fondements et Ingénierie<br>
<em>Université Nice Sophia Antipolis, Nice, France.</em><br><br>
</li>
<li>
<strong>[2013]</strong> : Licence Professionnelle, Concepteur-integrateur des Systèmes Intranet/Internet<br>
<em>IUT Nancy-Charlemagne, Nancy, France.</em><br><br>
</li>
<li>
<strong>[2012]</strong> : DUT en Informatique, option Administration des systèmes et réseaux<br>
<em>Ecole Supérieure de Technologie de Fès, Fès, Maroc.</em><br><br>
</li>
<li>
<strong>[2010]</strong> : Baccalauréat Physique-Chimie<br>
<em>Lycée Ibno Mandour, Casablanca, Maroc.</em>
</li>
</ul>

<p> </p>

<h2>
<a id="experiences-professionnelles" class="anchor" href="#experiences-professionnelles" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><B>EXPERIENCES PROFESSIONNELLES</B></h2>

<ul>
<li>
<strong>[01/10/2015 - 30/09/2016]</strong> Orange | Mougins, Provence-Alpes-Côte d'Azur, France
<pre>Poste : <B>Ingénieur Étude et Développement en Intégration Continue</B>
Durée : 12 mois
Sujet : La DSI France développe des nouvelles applications informatiques nationales dans les domaines porteurs et 
stratégiques pour le groupe tels que les contenus pour l’internet mobile, les offres multiservices (TV, VoIP..), le 
développement de la Fibre et les portails (portails clients, CRM, business intelligence..), les applications embarquées 
(livebox, set top box etc…) et celles des terminaux communicants (smartphones, tablettes, M2M etc…)<br>
Mon rôle : 
Rattaché au responsable technique à la Digital Factory, la mission d’alternance consiste à la création d’une application
web qui centralisera l’ensemble des indicateurs qualité de plusieurs outils de développement d’intégration continue (Sonar,
Jenkins, Coverity, Fortify). Ce nouvel outil devra s'interfacer avec les API exposés par ces applications afin de récupérer
les résultats des analyses et ainsi de suivre l'évolution de la qualité de code de chaque composant dans le temps.<br>
Je travaillererai en étroite collaboration avec les équipes support d’amélioration continue, des développeurs ainsi des
administrateurs systèmes et bases de données.<br>
Mes principales missions consisteront à : 
• Analyser des différents outils d’intégration continue disponibles dans l’entité : sonar, jenkins, coverity, fortify 
• Etudier les API que ces outils exposent
• Recenser et récupérer auprès des différentes équipes les besoins de suivi qualitatif des composants logiciels
• Mettre en œuvre le design, le développement ainsi que les tests unitaires du tableau de bord
• Gérer le processus de livraison et la prise en compte des retours
• Intégrer ce tableau de bord dans un outil déjà « référent » de l’entité</pre>
</li>
<li>
<strong>[09/03/2015 - 04/09/2015]</strong> Orange Business Services | Sophia antipolis, France
<pre>Poste : <B>Ingénieur Étude et Développement en .NET</B>
Durée : 6 mois
Sujet : Refonte d’une interface homme machine d’un outil de gestion des commandes d’accès réseau
Technologies utilisées : ASP.NET 4.5 MVC 5, Razor 2, Entity Framework 5, LINQ, Oracle..</pre>
</li>
<li>
<strong>[02/04/2013 - 21/06/2013]</strong> Chambre de commerce et d'industrie des Vosges | Lorraine, France
<pre>Poste : <B>Développeur Web</B>
Durée : 3 mois
Sujet : Développement d’un annuaire des produits industriels en extranet
Technologies utilisées : PHP (Symfony2) HTML, CSS, JavaScript, MySQL.</pre>
</li>
<li>
<strong>[23/04/2012 - 15/06/2012]</strong> Office Chérifien de Phosphate | Safi, Maroc
<pre>Poste : <B>Administrateur Systémes et Réseaux</B>
Durée : 2 mois
Sujet : Etudier les infrastructures de réseaux et télécom du groupe OCP.</pre>
</li>
<li>
<strong>[20/07/2011 - 19/08/2011]</strong> Office National de l'Electricité | Casablanca, Maroc
<pre>Poste : <B>Développeur</B>
Durée : 1 mois
Sujet : Developpement d'une application de gestion des médias de stockage
Technologies utilisées : .NET, SQL Server.</pre>
</li>
</ul>

<p> </p>

<h2>
<a id="autres-experiences-professionnelles" class="anchor" href="#autres-experiences-professionnelles" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><B>AUTRES EXPERIENCES PROFESSIONNELLES</B></h2>

<ul>
<li>
<strong>[01/09/2014 - 30/06/2016]</strong> Centre International de Valbonne | Sophia antipolis, France
<pre>Poste : <B>Maître d'internat au pair</B>
Durée : 20 mois
Un maître au pair est un étudiant chargé d'une mission de surveillance pour un volume 
horaire de 16h hebdomadaires. Il est intégré à l'équipe d'assistants d'éducation 
et travaille sous l'autorité des Conseillères Principales d'Education.<br>
Ma mission est : 
• Surveillance d'internat (120 élèves) 2 nuits et une journée le weekend par semaine.</pre>
</li>
<li>
<strong>[01/07/2014 - 31/08/2014]</strong> Centre International de Valbonne | Sophia antipolis, France
<pre>Poste : <B>Agent d'accueil et d'information, Standardiste</B>
Durée : 2 mois</pre>
</li>
</ul>

<p> </p>

<h2>
<a id="competences" class="anchor" href="#competences" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><B>COMPETENCES</B></h2>

<ul>
<li>
<strong>Langages de programmation &amp; Environnements :</strong> Java, JEE, C, .NET, Windev.</li>
<li>
<strong>Standards du web sémantique :</strong> HTML 5, PHP 5 (Symphony2), XML , CSS 3, JavaScript, AJAX.</li>
<li>
<strong>Standards du web sémantique :</strong> RDF, SPARQL, RDFs, RDFa, OWL.</li>
<li>
<strong>Développement mobile :</strong> Android, iOS, NFC.</li>
<li>
<strong>Méthodes de conception et de modélisation :</strong> UML, Merise.</li>
<li>
<strong>Systèmes d’exploitation :</strong> Windows, Linux(Ubuntu, Fedora).</li>
<li>
<strong>Outils :</strong> MS Office, Eclipse, Dreamweaver, Power AMC, Packet Tracer, SPARQL Endpoint.</li>
<li>
<strong>Réseaux :</strong> Administration de Service, Administration des équipements.</li>
<li>
<strong>Systèmes :</strong> Administration des systèmes, Apache, DNS, Wins, DHCP, Sendmail, annuaires.</li>
<li>
<strong>Intégration continue :</strong> Jenkins, Sonar, Coverity, Fortify, Mesos, Docker, LXC.</li>
<li>
<strong>Big Data :</strong> Hadoop Map/Reduce, MongoDB, NoSQL.</li>
<li>
<strong>Systèmes de gestion de base de donnée :</strong> Access, MySQL, SQL Server, Oracle.</li>
</ul>

<p> </p>

<h2>
<a id="langues" class="anchor" href="#langues" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>LANGUES</h2>

<ul>
<li>
<strong>Français :</strong> Courant</li>
<li>
<strong>Anglais :</strong> Intermédiaire</li>
<li>
<strong>Arabe :</strong> Langue maternelle</li>
</ul>

<p> </p>

<h2>
<a id="centres-dinterets" class="anchor" href="#centres-dinterets" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><B>CENTRES D'INTERETS</B></h2>

<ul>
<li>
<strong>Sport :</strong> Football, Tennis</li>
<li>
<strong>Intérêts :</strong> Les nouvelles technologies.</li>
</ul>

    </section>



      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

{{ partial "footer.html" . }}
